@model List<TheLibraryIsOpen.Models.Return.ReturnViewModel>
@using static TheLibraryIsOpen.Constants.TypeConstants
@{
    ViewData["Title"] = "Return Page";
}

<h2>Borrowed</h2><hr />

<div class="row table-bordered rounded-left rounded-right" style="padding:1em 1em 1em 1em;">

    <div class="row" style="padding: 2em 2em 2em 2em;">
        
    </div>
</div>


