/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    position: relative;
    min-height: 100%;
}

footer {
    bottom: 0;
    margin-bottom: 0px;
    position: absolute;
    bottom: 0;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.stylish-input-group {
    box-shadow: rgba(0,0,0,0.1) 2px 2px 1px 1px;
    border-radius: 3em;
}

    .stylish-input-group .input-group-addon {
        background: white !important;
    }

    .stylish-input-group .form-control {
        border-right: 0;
        box-shadow: 0 0 0;
        border-color: #ccc;
    }

    .stylish-input-group button {
        border: 0;
        background: transparent;
    }

    .rounded-left {
        border-bottom-left-radius: 3em;
        border-top-left-radius: 3em;
    }

    .rounded-right {
        border-bottom-right-radius: 3em;
        border-top-right-radius: 3em;
    }

.padding-0 {
    padding-right: 0;
    padding-left: 0;
}
