@{
    ViewData["Title"] = "Home Page";
}

@{
    bool signedIn = User.Identity.IsAuthenticated;
}

<div class="row text-center" style="margin-top: 10vh;">
    <img style="width: 45%;height: auto;" src="~/images/thelibraryisopen.gif" alt="The Library is Open, Okay?" />
</div>
<br />
<br />

@if (!signedIn)
{
    //deleted default carousel

    <div style="height:36px;"></div>

    <div class="row">
        <div class="col-md-6">
            <h2 class="text-center"><strong>I already have an account.</strong></h2>
            <div style="height:18px;"></div>
            <p class="text-center">
                <a asp-controller="Authentication" asp-action="Login" class="btn btn-primary btn-lg btn-block" role="button"
                   style="width:66%; margin-left:auto;margin-right:auto;"><strong>Log In</strong></a>
            </p>
        </div>
        <div class="col-md-6">
            <h2 class="text-center"><strong>I don't have an account.</strong></h2>
            <div style="height:18px;"></div>
            <p class="text-center">
                <a asp-controller="Authentication" asp-action="Register" class="btn btn-primary btn-lg btn-block" role="button" data-toggle="tooltip"
                   data-placement="right" title="Free!" style="width:66%; margin-left:auto;margin-right:auto;">
                    <strong>Register</strong>
                </a>
            </p>
        </div>

    </div>

    <div style="height:36px;"></div>

}
else
{
    string customData = "col-xs-8 col-xs-offset-2";
    <div class="row">
        <partial name="_SearchBar" model="customData" />
    </div>
}