@{
    ViewData["Title"] = "List Of Clients";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<table>
    <tr>
        <th>Name</th>
        <th>Email Address</th>
        <th>Home Address</th>
        <th>Phone Number</th>
        <th>Administrator</th>
    </tr>
    <tr>
        <td>TestName</td>
        <td>TestEmail</td>
        <td>TestHome</td>
        <td>TestPhone</td>
        <td>TestAdmin</td>
    </tr>
</table>

<style>
    table {
        border-collapse: collapse;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 1%;
    }

    th {
        background-color: #dddddd;
    }


</style>

