@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head lang="en">
    <meta name="viewport" content="width=device-width" />
    <title>Library Book Rental</title>
    <style>
        body {
                width:100%;
                min-width: 480px;
                background-color: #f2f2f2;
                margin:0px;

            }
        div {
           margin-left:auto;
           margin-right:auto;
        }
           
       .main {
           height:600px;
           width:800px;
           margin:0px;
           margin-left:auto;
           margin-right:auto;
           padding:0px;
           display:block;
           
       }
       .label-box {
           font-size:24px;
           color:white;
           background-color:#932439;
           height:36px;
           width:160px;
           padding-top:6px;
           font-weight:bold;
           font-family:Arial,sans-serif;
           display:block;
           text-align:center;
           margin-left:auto;
           margin-right:auto;
       }

       table {
           display:block;
		   
		   text-align:center;
		   margin-left:auto;
           margin-right:auto;
		
		   border-collapse: collapse;
       }
       .login-signup {
           width:800px;
       }
       th,td {
           align-content:center;
           margin-left:auto;
           margin-right:auto;
       }
    </style>


</head>
<body align="center" oneresize ="dynamicResize()">
    @RenderPage("header.cshtml")
    <div align="center" class="main">
        <div align="center">

            <h1>Welcom to XXX Library Book Rental</h1>
            <table class="login-signup">
                <tr>
                    <th style="width:400px;"><h3>I already have an account.</h3></th>
                    <th style="width:400px;"><h3>I don't have an account.</h3></th>
                </tr>
                <tr>
                    <td style="width:400px;">
                        <label class="label-box">Log In</label>
                    </td>
                    <td style="width:400px;">
                        <label class="label-box">Sign Up</label>
                    </td>
                </tr>

            </table>
        </div>
    </div>
</body>
</html>
